body {
    background-color: rgb(240, 234, 227);
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 10%;
    color: rgb(16, 59, 16);
    padding: 20px;
    background-color: rgb(206, 231, 206);

}

#sol {
    text-align: center;
    background-color: rgb(10, 6, 6);
    color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 20px;
    font-size: larger;
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
}

#message {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1000px;
}

#card-collection .card {
    text-align: center;



}

#card-collection .card h3,
#card-collection .info h3,
#card-collection .art h3 {
    color: rgb(224, 102, 102);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200px;


}

#card-collection .info {
    text-align: center;
}

#card-collection .info,
#card-collection .card,
#card-collection .art {
    padding: 0%;



}

#card-collection .column {
    font-size: 20px;
}

#card-collection .art {
    text-align: center;

}